$megaHeight: 360px;

.mega_invisible {
  visibility: hidden;
  opacity: 0;
  height: $megaHeight;
  border-bottom: 1px solid transparent;
  transition: all 250ms;
}

.mega_visible {
  visibility: visible;
  opacity: 1;
  height: $megaHeight;
  background: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;

  transition: all 250ms;
}