.header {
  display: flex;
  background: transparent;
  padding: 15px;
  border-bottom: 1px solid black;
  height: 30px;
  align-items: center;

  .header__logo {
    width: 220px;
    height: 17px;
    padding-right: 10px;
  }

  .mega_menu {
    
  }
}
